@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    
}
body{
    /* background-image:linear-gradient( rgba(10, 10, 10, 0.644),rgba(10, 10, 10, 0.644)) ,url('img/contectback.jpg');
    background-size: cover;
    color: white; */
    background-color: white;
    height: max-content;
}

.nav{
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: space-between;
    position: sticky;
}
.logo{
    width: 180px;
    margin-top: 40px;
    margin-left: 50px;
    font-weight: 600;
    cursor: pointer;
}
.logo:hover{
    color: red;
}
.content{
    margin: 40px 20px ;
}
.content a{
    padding: 20px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.content a:hover{
    color: rgb(99, 92, 92);
}
.cart{
    margin: 80px 80px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cartproduct{
    display: flex;
    align-items: end;
    
}
.cartproduct img{
    height: 100px;
    width: 100px;
}
.cartproduct p{
    padding: 0 30px;
    font-size: 20px;
}
.cartproduct button{
    padding: 0 30px;
    font-size: 15px;
    padding: 5px;
    margin: 0 30px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(92, 92, 240);

}
.cartproduct button:hover{
    background-color: rgb(236, 48, 48);
    transition: all 0.2s linear;

}
th{
   text-align: left;
   padding: 20px 10px;
   background-color: rgb(255, 208, 0);

}
td{
    padding: 10px 20px;
}
td input{
    height: 30px;
    width: 50px;
    text-align: center;
    outline: none;
}

.total{
    display: flex;
    justify-content: flex-end;
   
}
.total table {
    border-top: 5px solid yellow;
    width: 100%;
    max-width: 440px;
    margin: 0 75px;
    
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
.orderbtn{
    position:absolute;
    right: 5%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(92, 92, 240);
    margin-top: 20px;
}
.orderbtn:hover{
    color: rgb(92, 92, 240);
    background-color: white;
    border: 2px solid rgb(92, 92, 240);
}