@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    
}
body{
    /* background-image:linear-gradient( rgba(10, 10, 10, 0.644),rgba(10, 10, 10, 0.644)) ,url('img/contectback.jpg');
    background-size: cover;
    color: white; */
    background-color: white;
    height: max-content;
}

.nav{
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: space-between;
    position: sticky;
}
.logo{
    width: 180px;
    margin-top: 40px;
    margin-left: 50px;
    font-weight: 600;
    cursor: pointer;
}
.logo:hover{
    color: red;
}
.content{
    margin: 40px 20px ;
}
.content a{
    padding: 20px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.content a:hover{
    color: rgb(99, 92, 92);
}
.cart{
    margin: 80px 80px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cartproduct{
    display: flex;
    align-items: end;
    
}
.cartproduct img{
    height: 100px;
    width: 100px;
}
.cartproduct p{
    padding: 0 30px;
    font-size: 20px;
}
.cartproduct button{
    padding: 0 30px;
    font-size: 15px;
    padding: 5px;
    margin: 0 30px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(92, 92, 240);

}
.cartproduct button:hover{
    background-color: rgb(236, 48, 48);
    transition: all 0.2s linear;

}
th{
   text-align: left;
   padding: 20px 10px;
   background-color: rgb(255, 208, 0);

}
td{
    padding: 10px 20px;
}
td input{
    height: 30px;
    width: 50px;
    text-align: center;
    outline: none;
    border: 1px solid balck;
}

.total{
    display: flex;
    justify-content: flex-end;
   
}
.total table {
    border-top: 5px solid yellow;
    width: 100%;
    max-width: 30%;
    margin: 0 75px;
    
    
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
.order{
    position: relative;
    width: 100%;
    height: 80px;
}
.orderbtn{
    position:absolute;
    right: 4%;
    bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(92, 92, 240);
    margin-top: 20px;
    margin-right: 20px;
}
.orderbtn:hover{
    color: rgb(92, 92, 240);
    background-color: white;
    border: 2px solid rgb(92, 92, 240);
}
#menu{
    display: none;
}
@media(max-width:1000px){
    .orderbtn{
        right: 2%;
       }
    .cartproduct p{
        font-size: 16px;
    }
    .cartproduct button{
        font-size: 12px;
        
    }
    .cart{
        margin: 80px 3%;
    }
    .total table{
        margin: 0 31px
    }
    .cart{
        margin-bottom: 50px;

    }
    
}
@media(max-width:784px){
    
    .content a{
        font-size: 15px;
        padding: 10px;
    }
    .logo{

        font-size: 20px;
   }
   /* .orderbtn{
    right: 9%;
} */

.cartproduct p {
    font-size: 11px;
}
.imgcontent{
    height: 73px;
}
  

}
@media(max-width:666px){
    .cartproduct{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .content a{
        color: white;
    }
    
    .content{
        background-size: cover;
        border-radius: 10px;
        background-image: linear-gradient( rgba(10, 10, 10, 0.644),rgba(10, 10, 10, 0.644)) ,url("img/menu\ bg.jpg");
        flex-direction: column;
        text-align: center;
        padding: 0;
        margin: 0;
        position: absolute;
        left: 0;
        width: 100%;
        height: 300px;
        margin-top: 71px;   
        padding-top: 58px;
        display: none;
    }
    .show{
        display: flex;

    }
    .logo{
        margin-top: 22px;
        margin-left: 28px;
    }
    
    #menu{
        display: block;
        position: absolute;
        top:30px;
        right: 3%;
    }
    .cartproduct p{
        font-size: 14px;
        padding: 0 0;
    }
    .imgcontent{
        padding: 5px 0;
    }
    .total table{
        margin: 0 20px;
        max-width: 40%;
    }
    
}
@media(max-width:490px){
    
    #menu{
        
        right: 5%;
    }


}

@media(max-width:375px){
    .content{
        left: 14px;
        margin-top: 71px;
        width: 92%;
       } 
    th{
        font-size: 13px;
        text-align: center;
    }
    .cartproduct img {
        height: 85px;
        width: 85px;
    }
    .cartproduct p {
        font-size: 11px;
        
    }
    td input{
        width: 33px;
    }
    td {
        padding: 10px 10px;
    }
    .total table{
        margin: 0 12px;
        max-width: 48%;
    }
    .orderbtn {
        right: -1%;
        font-size: 12px;
    }
      
    

}
@media(max-width:325px){
    


}